<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>541542637206-fv1qkjlveomgl9rbjbt8o2g2s1ead3hb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541542637206-fv1qkjlveomgl9rbjbt8o2g2s1ead3hb</string>
	<key>API_KEY</key>
	<string>AIzaSyAXgjbbFkxLANVyjefqgCctf8LbGDoXHTo</string>
	<key>GCM_SENDER_ID</key>
	<string>541542637206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bestcareer.jobs</string>
	<key>PROJECT_ID</key>
	<string>bestcareer-fe9bb</string>
	<key>STORAGE_BUCKET</key>
	<string>bestcareer-fe9bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541542637206:ios:d5d8d7346ecb7aa0</string>
	<key>DATABASE_URL</key>
	<string>https://bestcareer-fe9bb.firebaseio.com</string>
</dict>
</plist>